body {
  margin: 0;
  padding: 8px;
}

nav {
  display: flex;
  gap :8px;
}

nav a {
  display: block;
  padding: 4px;
  text-decoration: none;
  background-color: blue;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
